html, body{
    background: #212121;
    overflow: hidden;
}

#gameBoard{
    pointer-events: none;
    position: absolute;
    margin-left: 18%;
    width: 67%;
    margin-top: -4.5%;
    z-index: 0;
    user-select: none;
}



#game{
    margin-left: 34%;
    margin-top: 14%;
    pointer-events: none;
    user-select: none;
}



.hitbox{
    width: 9vw;
    height: 9vw;
    margin-left: 1.6%;
}


#rows{
    margin-top: 14%;
    margin-left: 33.7%;
    pointer-events: none;
}


.rowCombinations{
    display: flex;
    margin-top: 2.6%;
    
    
}


.symbol{
    width: 100%;
}


#winnline{
    position: absolute;
    width: 39vw;
    pointer-events: none;
    filter: opacity(70%);
}


#drawMessage{
    font-size: 7vw;
    color: rgb(232, 232, 8);
    margin-left: 41%;
    margin-top: -9%;
    position: absolute;
    user-select: none;
}


#difficultySelection{
    width: 100vw;
    margin-left: 10%;
    margin-top: 24%;
    position: absolute;
    z-index: 2;
}


.bts{
    width: 14vw;
    height: 7vw;
    margin-left: 4%;
    font-size: 2.7vw;
}


#blur{
    width: 100%;
    height: 100%;
    background-color: #212121;
    pointer-events: none;
    position: absolute;
    pointer-events: none;
    z-index: 1;
    
    
}

.bts:hover{
    border:aliceblue;
}


#normalButton:hover{
    color: rgb(70, 240, 70);
}

#hardButton:hover{
    color: rgb(225, 225, 4);
}

#impossibleButton:hover{
    color: red;
}

@media (max-width: 720px) {
    .bts{
        width: 18vw;
        height: 10vw;
        font-size: 3.3vw;
    }
    #difficultySelection{
        margin-left: 0%;
    }
    #gameBoard{
        width: 150%;
        margin-left: -20%;
        margin-top: -20%;

    }
    .rowCombinations{
        width: 150%;
        height: 150%;
        margin-left: -29%;
        margin-top: 7%;
    }
    .hitbox{
        height: 20vw;
        width: 20vw;
        margin-left: 3vw;
    }
    #game{
        margin-top: 22%;
    }
}

